.service .titlebox {
  text-align: center;
  padding-top: 20px;
}
.service .titlebox h2 {
  font-size: 28px;
}
.service .titlebox p {
  font-size: 16px;
  color: #91969b;
  margin-top: 11px;
  margin-bottom: 11px;
}
.service .row {
  margin-top: 20px;
  height: 360px;
}

.service .row li {
  float: left;
  width: 20%;
  list-style-type: none;
  background-color: white;
  margin-left: 40px;
}
.row ul li:hover b {
  transform: scale(1.2);
}

.service .row li p {
  overflow: hidden;
  color: #888;
  margin: 20px 20px;
  height: 84px;
}
.service .row li b {
  margin: 40px 20px 20px 70px;
  display: block;
  height: 80px;
  width: 100px;
  border-radius: 30px;
  background: #006699 no-repeat center;
}
.service .row li b img {
  width: 100px;
  height: 80px;
}
.service .row li h3 {
  font-size: 22px;
  text-align: center;
}

.introduction {
  background-color: #ffbc1b;
  height: 360;
}
.introduction .linkbox {
  margin-left: 10px;
}

.linkbox a {
  color: royalblue;
  font-size: 22px;
}
.introduction .left {
  padding-left: 25px;
  padding-right: 25px;
}
.introduction .abouttitle {
  font-size: 20px;
  color: white;
  font-weight: normal;
  margin: 60px 0 0 0;
}
.introduction .left {
  width: 40%;
  float: left;
  margin-left: 100px;
}
.introduction .right {
  margin-left: 50px;
}
.introduction .right img {
  margin: 60px 40px;
}
.introducebox {
  color: white;
  margin: 40px 0;
  font-size: 18px;
}

.newscontainer {
  height: 100%;
}
.newscontant {
  padding-top: 20px;
  padding-right: 25px;
}
.newsleft {
  width: 250px;
  float: left;
 
}
.newstitlebox {
  padding-top: 15px;
  padding-left: 30px;
  height: 80px;
  background-color: white;
}
.newstitlebox h3 {
  padding-left: 5px;
  display: block;
  border-left: 4px solid #0088b5;
  font-size: 22px;
  font-weight: normal;
}

.news {
  padding-top: 15px;
  padding-left: 15px;
  margin-top: 15px;
  background-color: white;
}
.news h3 {
  display: block;
  margin: 25px 15px 0 15px;
  padding: 0 0 0 8px;
  line-height: 1;
  border-left: 4px solid #0088b5;
  font-size: 22px;
  font-weight: normal;
}
.news ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 10px 15px 20px 15px;
  font-family: "microsoft yahei";
}
.news ul li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid #e9e9e9;
}
.news ul li a {
  color: #333;
  text-decoration: none;
}
.news a:hover {
  color: royalblue;
}
.news ul li h6 {
  display: block;
  margin: 0;
  font-size: 16px;
}
.newsright {
  background-color: white;
  margin-right: 100px;
  margin-left: 300px;
  min-height: 600px;
}
.newsright .nav {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
  border-bottom: 1px solid darkgray;
}
.newsright .nav ul li a {
  color: #333;
  font-size: 20px;
  text-decoration: none;
}
.newsright .nav a:hover {
  color: royalblue;
}
.newsright ul {
  list-style-type: none;
  font-family: "microsoft yahei";
}
.newsright ul li {
  float: left;
}
.newsarticle {
  line-height: 30px;
  
}
